.sponsors_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 180px;
  padding: 0 100px;
}

.logo_container {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 24px;
}

.sponsors_heading {
  font-size: 16px;
  font-weight: 600;
  color: rgba(105, 105, 105, 0.8);
}
