.categories_heading {
  font-size: 28px;
  font-weight: 700;

  margin-bottom: 48px;
}

.categories_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-template-rows: repeat(auto-fill, 200px);
  justify-content: space-between;
  row-gap: 28px;
  column-gap: 92px;
}
