.category_heading {
  font-size: 16px;
  font-weight: 500;
}

.category_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  padding: 60px 28px;

  background-color: #fff;
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.15);

  cursor: pointer;
}

.category_item:last-child {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
